html{
  position: relative;
  min-height: 100%;
}

/* div:after{
content:"";
position: absolute;
z-index: -1;
top: 0;
bottom: 0;
left: 50%;
border-left: 2px dotted #ff0000;
transform: translate(-50%);
} */

body{
  background-color: #e6e6e6;
  text-align: center;
  /* line-height: 1.6; */
  /* margin:0;
  padding:0;
  height:100%; */
  margin-bottom: 40px;
  z-index: -2;
}

p{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  margin: 0 auto;
  max-width: 60em;
}
.bigbutton{
  background-color: #428bca;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
}

.badge{
  font-size: 1em;
  font-weight: lighter;
  padding: 0.5em;
  margin-top: 1em;
}

.title-badge{
  background-color: #428bca;
}

.alert{
  width:50%;
  margin:auto;
}

.menu-div{
  /* margin-left: 1.5em;
  margin-right: 1.5em; */
  padding-top: 3em;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid;
  min-height: 35em;
}

form{
  width:23em;
  /* max-width: 50em; */
}

table, th, td {
  margin-top: 1%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  white-space: nowrap;
  /* text-align: center; */
}

td, th {
  width: 40%;
  border: 1px solid black;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: WhiteSmoke;
}
