p{
    font-family: 'Roboto', sans-serif;
}

.footer_blue{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  background-color: #2564ca;
}

#id_contact a,#id_legal a{
  color:white;
  text-decoration: underline;
}

#id_legal,#id_contact{
  float: right;
  margin-right: 1%;
  margin-bottom: 5px;
  font-size: 14px;
}
