body{
  background-color: #e6e6e6;
}

p{
    font-family: 'Roboto', sans-serif;
}

#header{
  background-color: #2564ca;
  height: 90px;
  align-items: center;
}

#logo{
  /* position: relative; */
  height:90px;
  /* left: 50%; */
  transform: translate(18%);
  /* align-items: center; */
  /* display: inline-block; */
}

#button_connect,#button_registration,#button_disconnect{
  float: right;
  margin-right: 1%;
  margin-top: 30px;
}

#home_icon{
  color:white;
  display: inline-block;
  float:left;
  margin-left: 3%;
  margin-top: 1.5%;
}
