body{
  background-color: #e6e6e6;
}

p{
    font-family: 'Roboto', sans-serif;
}

#header{
  background-color: #2564ca;
  height: 90px;
  align-items: center;
}

#logo{
  position: absolute;
  height:90px;
  left: 50%;
  transform: translate(-50%);
}

#navbuttons{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-right: 20px;
}

#home_icon{
  color:white;
  display: inline-block;
  float:left;
  margin-left: 3%;
  margin-top: 1.5%;
}
